<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <h1>About me</h1>
    <h2 class="back-1">Name</h2>
    <p class="back-2">Roberts</p>
    <h2 class="back-1">Last Name</h2>
    <p class="back-2">Grišins</p>
    <h2 class="back-1">Hobbies</h2>
    <ul class="back-2">
        <li>Programming</li>
        <li>Video games</li>
        <li>Fishing</li>
        <li>Draughts</li>
    </ul>

</body>
</html>